.DS_Store
node_modules/
.phpunit.cache
.dev

# Frontend
/public/assets
/public/dist/

# Kirby
.lock
kirby
vendor

/public/media/*
!/public/media/index.html

/storage/accounts/*
!/storage/accounts/.gitkeep

/storage/cache/*
!/storage/cache/.gitkeep

/storage/logs/*
!/storage/logs/.gitkeep

/storage/sessions/*
!/storage/sessions/.gitkeep

/site/config/.license