/.* export-ignore
/package.json export-ignore
/packages/vite-plugin-kirby export-ignore

/packages/kirby-vite/.* export-ignore
/packages/kirby-vite/test export-ignore
/packages/kirby-vite/composer.json export-ignore
/packages/kirby-vite/package.json export-ignore