/* Shared CSS for all pages */

/* Compagnon Script by Chloé Lozano (http://www.velvetyne.fr/fonts/compagnon/) */
@font-face {
  font-family: Compagnon;
  font-style: bold;
  src: url('assets/Compagnon-Bold.woff2');
}

body {
  padding: 1em;
  font-family: Compagnon;
  font-weight: bold;
}

nav ul {
  margin-top: 0;
}